<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-controller="FilmesController">
<h1>Bem Vindo ao Treinamento de MEAN</h1>
<p>{{filme}}</p>
	

<script src="/js/angular.min.js"></script>
<script src="/js/FilmesController.js"></script>
</body>
</html>